streamlit
pandas
numpy
matplotlib
seaborn
plotly
bertopic
corextopic
scikit-learn
sentence-transformers
Pillow
wordcloud
nltk
langchain
langchain-community
langchain-openai
langchain-groq
faiss-cpu




